.AboutPage{
    margin: 0;
    background-color:black;
    width: 90vw;
    height: 80vh;
    padding: 50px;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 5px black;
}
.backContainer{
   display: flex;
   margin: 30px;
   flex-direction: row-reverse; 
    width: 90vw;
}
.back{
    padding:15px 30px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: red;
}
.back:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px black;

}
