
*{
background-color:rgb(110, 110, 228);
background-color: black;
margin: 0;
}
.skill-intro{
  font-size: 20px;
    font-weight: bold;
    padding :20px;
    color: white;
    background-color: black;
}
.skills-section {
  padding: 60px 30px;
  text-align: center;
}

.skills-section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.skills-grid {
 display:flex;
}

.skill-card i, p,h3{
    background-color: white;
}
.skill-card {
  width:200px;
  margin:10px;
  background: white !important;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s, box-shadow 0.3s;
}
.backContainer{
  margin: 30px;
   display: flex;
   flex-direction: row-reverse; 
    width: 90vw;
}
.back{
    padding:15px 30px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: red;
}
.back:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px black;

}

.skill-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 22px rgba(0,0,0,0.12);
}

.skill-card i {
  font-size: 40px;
  color: #00e0d8;
  margin-bottom: 10px;
}

.skill-card h3 {
  font-size: 20px;
  margin-bottom: 6px;
}

.skill-card p {
  font-size: 14px;
  color: #555;
}
